.infiniteScroll {
    width: 100% !important;
}

.semi {
    display: inline-block;
    margin: 16px !important;
    width: auto;
}

.container-fluid {
    background-color: cornflowerblue;
}

.badge {
    margin-right: 5px;
    margin-bottom: 5px;
}

.badge-statType {
    background-color: #a2ef44;
}

.badge-statValue {
    background-color: #ff0000;
}

.badge-type {
    background-color: #02c39a;
}

.like-button{
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}