.infiniteScroll{
    width: 100% !important;
}

.semi{
    display: inline-block;
    margin: 16px !important;
    width: auto;
}
.container-fluid{
    background-color: cornflowerblue;
}

.badge{
    margin-right: 5px;
    margin-bottom: 5px;
}
